################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Program/CourseEnrolmentSystem/.vs/CourseEnrolmentSystem/FileContentIndex
